name: CI

on:
  push:
    branches:
      - master
      - staging
      - feature/**
      - bugfix/**
      - hotfix/**

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16"

      # Frontend
      - name: Install dependencies
        working-directory: frontend
        run: npm ci

      - name: Frontend Build
        working-directory: frontend
        run: npm run build

      # Backend
      - name: Backend install
        working-directory: backend
        run: npm ci

      - name: Backend test
        working-directory: backend
        run: npm test
